table {
    border-spacing: 3em 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

td {
    word-wrap: break-word;
    max-width: 300px;
    }

th {
    text-align: left;
    padding-bottom: 1em;
}

td:nth-child(1) {
    font-weight: 550;
}

td:nth-child(2) {
    font-style: italic;
}

.edit svg {
    color: rgba(0, 0, 0, 0.617);
}

.delete svg{
    color: rgb(203, 4, 4);

}

.error {
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}

.book-library .message {
    font-weight: bold;
    height: 2em;
    color: red;
    text-align: center;
    margin-top: 1em;
}