
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    box-shadow: 3px 3px 19px rgb(33, 108, 101);
    padding: 2em;
    border-radius: 0.2em;
    z-index: -1;
    position: absolute;
}

input[type="submit"] {
    grid-column: 2/3;
    width: 100px;
    justify-self: end;   
}

input[type="text"] {
    width: 300px;
}

label {
    justify-self: end;
}

h1 {
    text-align: center;
}

.logo a {
    z-index: 1;
    position:relative;
}

h5 {
    font-weight:400;
    font-size: 1em;
    margin-top: 35px;
    margin-bottom: 0.5px;
}

#comment {
    height: 200px;
}

.message {
    grid-column: 2/3;
    color: red;
    font-weight: bold;
}

@media (max-width: 600px) { 
    table {
    font-size: 0.6rem;
}
}