.footer {
  columns: 10em 4;
  max-height: 25px;
  width: 100%;
  position:fixed;
  background: rgb(125, 172, 167);
  padding: 10px;
  color: #fff;
  bottom: 0;
  font-size: 0.8em;
}

.footer {
    padding-top: 15px;
}

.footer svg {
    font-size: 1.7em;
    padding-bottom: 5px;
    padding-left: 15px;
}
