.header {
    background-color: rgba(10, 97, 10, 0.824);
    height: 4em;
    line-height: 4.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header>ul {
    display: inline;
    margin: 0;
    list-style-type: none;
}

.header>ul>li {
    display: inline;
    margin-right: 1.5em;
}

.header>ul>li>a {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header>ul>li>a:hover {
    color: white;
}

.header>ul>li.logo {
    font-size: 2em;
}

.header-left {
    justify-self: start;
    font-size: 0.6rem;
}

.header-right{
    justify-self: end;
    font-size: 1.2em;

} 

@media (max-width: 650px) {
    .header-left {
        font-size: 0.3rem;
    
    }
  }