.header {
    background-color: #006d77;
    height: 4em;
    line-height: 4.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.header img {
    width: 30%;
    max-width: 30%;
    border: 1.5px solid #006d77;
}

.header>ul {
    display: inline;
    margin: 0;
    list-style-type: none;
    margin-right: 4em;
}

.header>ul>li {
    display: inline;
    margin-right: 1.1em;
}

.header>ul>li>a {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.header>ul>li>a:hover {
    color: #b0d59b;
}

.header>ul>li.logo {
    font-size: 2em;
}

.header-left {
    justify-self: start;
    font-size: 0.6rem;
}

.header-left img {
    margin: 30px;

}

.header-right{
    justify-self: end;
    font-size: 1.5em;
} 

@media (max-width: 750px) {
    .header-left {
        font-size: 0.3rem;

    }
    .header {
        width: 100%;
    }
    .header-right {
        font-size: 1rem;
    }
  }

  .about {
      margin-left: 25vw;
      margin-right: 25vw;
      margin-top: 5vw;
      color: #006d77;
      border: 1px solid #024d54;
      padding: 2em;
      border-bottom-left-radius: 55px;
      border-top-right-radius: 55px;
      border-bottom-right-radius: 55px;
      box-shadow: 3px 0px 3px #024d54;
  }