ul {
    list-style:none;
}

#searchedBook  {
    text-decoration: none;
    background-color: #006d7721;
    padding: 13px;
    max-width: 350px;
}

.searchList {
    /* float:right; */
   /*  margin-right: 7em; */
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
}

.id {
    font-weight: 600;
}


.searchList-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.searchbar-container {
    display: flex;
}
