ul {
    list-style:none;
    padding-left: 0.1rem;
}

#searchedBook  {
    text-decoration: none;
    background-color: #006d7721;
    padding: 25px;
    width: 330px;
}

.searchList {
    text-decoration: none;
    flex-direction: column;
    display: inline-flex;
    margin-left: 0.4rem;
}

.searchList h3 {
    font-weight: bold;
    font-size: 2rem;
}

.id {
    font-weight: 600;
}


.searchList-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

}
.searchbar-container {
    display: flex;
}

@media  (max-width: 1356px) {
    .searchList {
        margin-left: 6rem;
        margin-right: 10rem;
    }
}